#ANDROID
Mobile/.gradle/
Mobile/StepsAnalizer/.gradle/
Mobile/StepsAnalizer/build/
Mobile/StepsAnalizer/app/build/
Mobile/StepsAnalizer/.idea/
Mobile/StepsAnalizer/local.properties
Mobile/StepsAnalizer/*.iml
Mobile/StepsAnalizer/.kotlin/

#DESKTOP
Desktop/.idea/
Desktop/.venv/
Desktop/__pycache__/
Desktop/build/
Desktop/dist/
Desktop/Desktop/*.spec
Desktop/Desktop/steps_data.json
Desktop/Desktop/*.pyc

#OGÓLNE
.DS_Store
*.log
Thumbs.db