#ANDROID
Mobile/.gradle/
Mobile/StepsAnalizer/.gradle/
Mobile/StepsAnalizer/build/
Mobile/StepsAnalizer/app/build/
Mobile/StepsAnalizer/.idea/
Mobile/StepsAnalizer/local.properties
Mobile/StepsAnalizer/*.iml
Mobile/StepsAnalizer/.kotlin/

#DESKTOP
StepsAnalizer_Serwer/.idea/
StepsAnalizer_Serwer/.venv/
StepsAnalizer_Serwer/__pycache__/
StepsAnalizer_Serwer/build/
StepsAnalizer_Serwer/dist/
StepsAnalizer_Serwer/*.spec
StepsAnalizer_Serwer/steps_data.json
StepsAnalizer_Serwer/*.pyc

#OGÓLNE
.DS_Store
*.log
Thumbs.db