# usuwanie .venv z repozytorium
Desktop/.venv/
*/.venv/
.venv/

# Python
Desktop/.idea/
Desktop/__pycache__/
Desktop/core/__pycache__/
Desktop/ui/__pycache__/
Desktop/build/
Desktop/dist/
Desktop/*.spec
Desktop/steps_data.json
Desktop/icon.ico
Desktop/*.pyc
Desktop/resource_path/

# Android
Mobile/.gradle/
Mobile/StepsAnalizer/.gradle/
Mobile/StepsAnalizer/build/
Mobile/StepsAnalizer/app/build/
Mobile/StepsAnalizer/.idea/
Mobile/StepsAnalizer/local.properties
Mobile/StepsAnalizer/*.iml
Mobile/StepsAnalizer/.kotlin/

# Ogólne
.idea/
.DS_Store
*.log
Thumbs.db